openapi: 3.1.0
info:
  title: vLogBin Platform API
  version: "1.0"
  description: |
    Multi-Provider identity and billing infrastructure platform.
    
    ## Authentication
    
    All API requests require a Bearer token (API key) in the `Authorization` header.
    Operator endpoints use OIDC JWT tokens (ZITADEL Hosted Auth).

    ## Environment Isolation

    Every API key is bound to exactly one environment (test or live); tenant
    context always comes from the credential, never from request input.
    Provider-domain clients may send `X-Environment: test|live` as a safety
    check: when present it must match the key's environment, otherwise the
    API rejects the request with `400 environment_mismatch`. Console
    control-plane endpoints select the environment explicitly via `?env=`.
    
    ## API Versioning
    
    Breaking API versions run in parallel for at least 12 months.
    Deprecated endpoints return `Sunset`, `Deprecation`, and `Link` headers.
    Webhook payloads include `X-Webhook-Schema-Version: 1.0`.
    
    ## Rate Limiting
    
    Four-level rate limiting: Provider, Environment, Credential, Endpoint.
    Rate limit headers: `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`.
    
    ## Error Format
    
    All errors follow RFC 7807 Problem Details:
    ```json
    {
      "error": {
        "code": "not_found",
        "message": "resource not found",
        "request_id": "uuid"
      }
    }
    ```
  contact:
    name: vLogBin Platform
    url: https://github.com/OpenCore-Hub/vLogBin
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html

servers:
  - url: https://api.vlogbin.com/v1
    description: Production
  - url: https://api.staging.vlogbin.com/v1
    description: Staging

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Provider API key or OIDC JWT token
  
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id]
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            request_id:
              type: string
              format: uuid
              description: Request correlation ID
    
    Provider:
      type: object
      description: Provider（平台控制面视角，与 lib/api/types.ts Provider 对齐）
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        lifecycle_state:
          type: string
          description: 生命周期状态（REGISTERED / LIVE_REVIEW / LIVE_ACTIVE / RESTRICTED / SUSPENDED / RETIRED）
        sla_tier:
          type: string
        home_region_id:
          type: string
          format: uuid
        home_region_code:
          type: string
        cell_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    
    CustomerAccount:
      type: object
      properties:
        id:
          type: string
          format: uuid
        external_id:
          type: string
        name:
          type: string
        email:
          type: string
        type:
          type: string
          enum: [individual, business]
    
    Subscription:
      type: object
      description: 订阅（operator 视图，与 lib/api/types.ts Subscription 对齐；provider 域入参端点不复用此 schema）
      properties:
        id:
          type: string
          format: uuid
        external_id:
          type: string
        customer_external_id:
          type: string
        plan_code:
          type: string
        catalog_version_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, terminated]
        environment_kind:
          type: string
          enum: [test, live]
        started_at:
          type: string
          format: date-time
        terminated_at:
          type: string
          format: date-time
    
    UsageEvent:
      type: object
      required: [transaction_id, customer_external_id, metric_code, timestamp, properties]
      properties:
        transaction_id:
          type: string
        customer_external_id:
          type: string
        metric_code:
          type: string
        timestamp:
          type: string
          format: date-time
        properties:
          type: object
    
    QuotaReservation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        subscription_id:
          type: string
          format: uuid
        quota_key:
          type: string
        amount:
          type: integer
          format: int64
        status:
          type: string
          enum: [reserved, committed, released, expired]
        reservation_id:
          type: string
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        committed_at:
          type: string
          format: date-time
          nullable: true
        released_at:
          type: string
          format: date-time
          nullable: true
    
    SupportSession:
      type: object
      properties:
        id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        environment_id:
          type: string
          format: uuid
        access_type:
          type: string
          enum: [standard, emergency]
        status:
          type: string
          enum: [requested, active, expired, revoked, denied]
        reason:
          type: string
        requested_by:
          type: string
        requested_scopes:
          type: array
          items:
            type: string
        approved_by:
          type: string
          nullable: true
        second_approver:
          type: string
          nullable: true
        granted_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
        revoked_at:
          type: string
          format: date-time
          nullable: true
        revoked_by:
          type: string
          nullable: true
        revoke_reason:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    RiskReview:
      type: object
      description: Provider go-live 风险审核记录（operator 内部评级）
      properties:
        id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        risk_score:
          type: integer
          minimum: 0
          maximum: 100
        checks:
          type: object
          additionalProperties:
            type: boolean
        decision:
          type: string
          enum: [approved, rejected]
        reason:
          type: string
        reviewed_by:
          type: string
        reviewed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
    
    TeamMember:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        display_name:
          type: string
        role:
          type: string
          enum: [admin, billing_admin, developer, support_agent]
        status:
          type: string
          enum: [active, suspended, removed]
    
    SCIMUser:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
        id:
          type: string
          format: uuid
        externalId:
          type: string
        userName:
          type: string
        displayName:
          type: string
        active:
          type: boolean
        emails:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              primary:
                type: boolean
    
    CustomDomain:
      type: object
      properties:
        id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        environment_id:
          type: string
          format: uuid
        domain:
          type: string
        status:
          type: string
          enum: [pending, verified, revoked]
        verification_token:
          type: string
        verified_at:
          type: string
          format: date-time
        revoked_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    NotificationConfig:
      type: object
      description: 通知渠道配置（config 为解密后的渠道凭据，仅本会话可见）
      properties:
        id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        environment_id:
          type: string
          format: uuid
        channel:
          type: string
          enum: [email, sms]
        provider_type:
          type: string
        config:
          type: object
          additionalProperties: true
        from_address:
          type: string
        enabled:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    NotificationConfigInput:
      type: object
      description: 保存通知渠道配置的入参（config 会加密存储）
      required: [channel, provider_type, config, from_address]
      properties:
        channel:
          type: string
          enum: [email, sms]
        provider_type:
          type: string
        config:
          type: object
          additionalProperties: true
        from_address:
          type: string
        enabled:
          type: boolean
          default: true
    
    MigrationJob:
      type: object
      properties:
        id:
          type: string
          format: uuid
        source_system:
          type: string
        status:
          type: string
          enum: [draft, validating, validated, importing, completed, failed, rolled_back]
        total_records:
          type: integer
        processed_records:
          type: integer
        cutover_locked:
          type: boolean
    
    DataExport:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [requested, processing, completed, failed]
        export_type:
          type: string
          enum: [full, audit_only, billing_only]
        data_hash:
          type: string
        record_count:
          type: integer
    
    Cell:
      type: object
      properties:
        id:
          type: string
          format: uuid
        region_id:
          type: string
          format: uuid
        code:
          type: string
        cell_type:
          type: string
          enum: [shared, dedicated]
        status:
          type: string
          enum: [active, draining, inactive]
        capacity_limits:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time

    CellFailover:
      type: object
      description: Cell 故障切换记录
      properties:
        id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        from_cell_id:
          type: string
          format: uuid
        to_cell_id:
          type: string
          format: uuid
        status:
          type: string
        reason:
          type: string
        initiated_by:
          type: string
        fencing_token:
          type: string
        replayed_usage:
          type: integer
        replayed_outbox:
          type: integer
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    CellMigration:
      type: object
      description: Cell 迁移任务
      properties:
        id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        from_cell_id:
          type: string
          format: uuid
        to_cell_id:
          type: string
          format: uuid
        status:
          type: string
        scheduled_at:
          type: string
          format: date-time
        precheck_passed:
          type: boolean
        data_integrity_hash:
          type: string
        record_count:
          type: integer
        reason:
          type: string
        initiated_by:
          type: string
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        error_message:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    
    MeteredPricingRule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        metric_code:
          type: string
        pricing_model:
          type: string
          enum: [per_unit, tiered, volume, stairstep]
        base_price_cents:
          type: integer
          format: int64
        minimum_spend_cents:
          type: integer
          format: int64
        enabled:
          type: boolean
    
    BudgetAlert:
      type: object
      properties:
        id:
          type: string
          format: uuid
        budget_cents:
          type: integer
          format: int64
        threshold_pct:
          type: number
        current_spend_cents:
          type: integer
          format: int64
        alert_status:
          type: string
          enum: [ok, warning, exceeded]

    # ---- operator 域实体（与 apps/web/src/lib/api/types.ts 逐一对齐）----
    Environment:
      type: object
      description: 环境（test / live 双环境模型）
      properties:
        id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        kind:
          type: string
          enum: [test, live]
        status:
          type: string
        issuer:
          type: string
        created_at:
          type: string
          format: date-time

    Region:
      type: object
      description: 区域（region registry）
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        jurisdiction:
          type: string

    CatalogVersion:
      type: object
      description: Catalog 版本列表行（轻量视图）
      properties:
        id:
          type: string
          format: uuid
        version:
          type: integer
        state:
          type: string
          enum: [draft, validated, published, retired]
        environment_id:
          type: string
          format: uuid
        environment_kind:
          type: string
          enum: [test, live]
        metrics_count:
          type: integer
        plans_count:
          type: integer
        created_at:
          type: string
          format: date-time
        published_at:
          type: string
          format: date-time

    CatalogVersionMeta:
      type: object
      description: Catalog 版本全量元数据
      properties:
        id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        environment_id:
          type: string
          format: uuid
        version:
          type: integer
        state:
          type: string
        created_at:
          type: string
          format: date-time
        validated_at:
          type: string
          format: date-time
        published_at:
          type: string
          format: date-time
        retired_at:
          type: string
          format: date-time

    CatalogVersionDetail:
      type: object
      description: Catalog 版本详情（版本 + 全部组成元素）
      properties:
        version:
          $ref: '#/components/schemas/CatalogVersionMeta'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/Metric'
        plans:
          type: array
          items:
            $ref: '#/components/schemas/Plan'
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        entitlement_grants:
          type: array
          items:
            $ref: '#/components/schemas/EntitlementGrant'

    Metric:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
        aggregation_type:
          type: string
        field_name:
          type: string
        billable:
          type: boolean

    Plan:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
        interval:
          type: string
        currency:
          type: string

    Price:
      type: object
      properties:
        id:
          type: string
          format: uuid
        charge_model:
          type: string
          enum: [fixed, per_unit, tiered]
        metric_code:
          type: string
        properties:
          type: object

    EntitlementGrant:
      type: object
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
        value_type:
          type: string
        value:
          nullable: true

    PriceInput:
      type: object
      description: 套餐价格入参（fixed 固定价 / per_unit 按量 / tiered 阶梯价）
      required: [charge_model, properties]
      properties:
        metric_code:
          type: string
          description: per_unit / tiered 必填；引用当前目录版本中的 metric
        charge_model:
          type: string
          enum: [fixed, per_unit, tiered]
        properties:
          type: object
          description: fixed=amount_cents+currency；per_unit=unit_amount_cents；tiered=tiers[]

    EntitlementInput:
      type: object
      description: 套餐权益入参（PlanInput.entitlements 可选）
      required: [key, value_type, value]
      properties:
        key:
          type: string
        value_type:
          type: string
          enum: [boolean, numeric, period]
        value:
          description: 按 value_type 的 JSON 值

    ProviderAnalyticsDashboard:
      type: object
      description: Console Analytics（M4）一次请求全量载荷
      properties:
        revenue:
          type: array
          items:
            type: object
            properties:
              provider_id: { type: string }
              month: { type: string }
              invoice_count: { type: integer }
              subscription_count: { type: integer }
              total_revenue_cents: { type: integer }
              avg_invoice_line_cents: { type: number }
        mau:
          type: array
          items:
            type: object
            properties:
              provider_id: { type: string }
              month: { type: string }
              active_customers: { type: integer }
              unique_metrics: { type: integer }
              total_usage_events: { type: integer }
        conversion:
          type: array
          items:
            type: object
            properties:
              provider_id: { type: string }
              signup_month: { type: string }
              new_customers: { type: integer }
              customers_with_subscription: { type: integer }
              active_subscriptions: { type: integer }
        churn:
          type: array
          items:
            type: object
            properties:
              provider_id: { type: string }
              churn_month: { type: string }
              churned_subscriptions: { type: integer }
              retained_subscriptions: { type: integer }
        anomalies:
          type: array
          items:
            type: object
            properties:
              provider_id: { type: string }
              metric_code: { type: string }
              day: { type: string }
              event_count: { type: integer }
              avg_7d: { type: number }
              is_anomaly: { type: boolean }
        generated_at:
          type: string
          format: date-time

    PlanInput:
      type: object
      description: 套餐创建/更新入参（plan code 不可变；更新时 body code 必须与路径一致）
      required: [code, name, interval, currency, prices]
      properties:
        code:
          type: string
        name:
          type: string
        interval:
          type: string
          enum: [weekly, monthly, yearly]
        currency:
          type: string
          description: 3 位 ISO 4217 货币代码
        prices:
          type: array
          items:
            $ref: '#/components/schemas/PriceInput'
        entitlements:
          type: array
          items:
            $ref: '#/components/schemas/EntitlementInput'

    PlanDetail:
      type: object
      description: Console 控制面套餐详情（prices 的 metric_code 已解析，便于前端直接渲染/编辑）
      properties:
        plan:
          $ref: '#/components/schemas/Plan'
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        entitlement_grants:
          type: array
          items:
            $ref: '#/components/schemas/EntitlementGrant'

    PlanCollection:
      type: object
      description: Plans 页面一次请求的全量载荷（当前 draft 版本，无 draft 回退 latest published）
      properties:
        plans:
          type: array
          items:
            $ref: '#/components/schemas/PlanDetail'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/Metric'

    Credential:
      type: object
      description: API 密钥（key_hash 永不下发，仅 key_prefix 标识）
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        key_prefix:
          type: string
        scopes:
          type: array
          items:
            type: string
        allowed_cidrs:
          type: array
          items:
            type: string
        environment_id:
          type: string
          format: uuid
        environment_kind:
          type: string
          enum: [test, live]
        environment_issuer:
          type: string
        expires_at:
          type: string
          format: date-time
        revoked_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    CredentialCreateInput:
      type: object
      description: Console 创建 API 密钥入参
      required: [name, scopes]
      properties:
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
        expires_at:
          type: string
          format: date-time
          description: 可选，必须是未来时间
        created_by:
          type: string
          description: 审计 actor 标识，默认 operator

    CreatedCredentialResult:
      type: object
      description: 创建 / 轮换 API 密钥的响应（明文 api_key 只返回一次）
      properties:
        credential:
          $ref: '#/components/schemas/Credential'
        api_key:
          type: string

    Invoice:
      type: object
      description: 发票（Lago 同步）
      properties:
        id:
          type: string
          format: uuid
        number:
          type: string
        lago_id:
          type: string
        issuing_date:
          type: string
          format: date
        invoice_type:
          type: string
        status:
          type: string
        payment_status:
          type: string
        currency:
          type: string
        total_amount_cents:
          type: integer
          format: int64
        customer_external_id:
          type: string
        customer_account_id:
          type: string
          format: uuid
        subscription_id:
          type: string
          format: uuid
        catalog_version_id:
          type: string
          format: uuid
        environment_id:
          type: string
          format: uuid
        environment_kind:
          type: string
          enum: [test, live]

    InvoiceLine:
      type: object
      description: 发票行明细
      properties:
        id:
          type: string
          format: uuid
        lago_fee_id:
          type: string
        metric_code:
          type: string
        item_type:
          type: string
        item_name:
          type: string
        units:
          type: string
        precise_unit_amount:
          type: string
        amount_cents:
          type: integer
          format: int64
        taxes_amount_cents:
          type: integer
          format: int64
        total_amount_cents:
          type: integer
          format: int64
        currency:
          type: string
        event_transaction_id:
          type: string
        from_date:
          type: string
          format: date-time
        to_date:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    InvoiceDetail:
      type: object
      description: 发票详情（发票 + 行明细）
      properties:
        invoice:
          $ref: '#/components/schemas/Invoice'
        lines:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLine'

    AuditEvent:
      type: object
      properties:
        id:
          type: integer
          format: int64
        provider_id:
          type: string
          format: uuid
        environment_id:
          type: string
          format: uuid
        actor_type:
          type: string
        actor_id:
          type: string
        action:
          type: string
        target_type:
          type: string
        target_id:
          type: string
        metadata:
          nullable: true
        request_id:
          type: string
        created_at:
          type: string
          format: date-time

    AuditStats:
      type: object
      properties:
        total:
          type: integer
          format: int64
        by_action:
          type: array
          items:
            $ref: '#/components/schemas/AuditCount'
        by_actor_type:
          type: array
          items:
            $ref: '#/components/schemas/AuditCount'
        series:
          type: array
          items:
            $ref: '#/components/schemas/AuditSeriesPoint'

    AuditCount:
      type: object
      properties:
        key:
          type: string
        count:
          type: integer
          format: int64

    AuditSeriesPoint:
      type: object
      properties:
        bucket:
          type: string
          format: date-time
        count:
          type: integer
          format: int64

    AuditChainState:
      type: object
      properties:
        total_events:
          type: integer
          format: int64
        tail_hash:
          type: string
          nullable: true
        tail_event_id:
          type: integer
          format: int64
          nullable: true
        last_anchor_id:
          type: integer
          format: int64
        last_anchor_event_id:
          type: integer
          format: int64
        last_anchor_hash:
          type: string
        last_anchor_at:
          type: string
          format: date-time

    AuditChainVerifyResult:
      type: object
      properties:
        ok:
          type: boolean
        verified_from:
          type: integer
          format: int64
        verified_to:
          type: integer
          format: int64
        verified_count:
          type: integer
          format: int64
        broken_at:
          type: integer
          format: int64
          nullable: true
        reason:
          type: string

    Customer:
      type: object
      description: 客户（operator 视图）
      properties:
        id:
          type: string
          format: uuid
        external_id:
          type: string
        account_type:
          type: string
          enum: [individual, business]
        display_name:
          type: string
        environment_id:
          type: string
          format: uuid
        environment_kind:
          type: string
          enum: [test, live]
        created_at:
          type: string
          format: date-time

    CustomerCreateInput:
      type: object
      description: 客户创建入参（external_id 在 provider 环境内唯一）
      required: [external_id, account_type, display_name]
      properties:
        external_id:
          type: string
        account_type:
          type: string
          enum: [individual, business]
        display_name:
          type: string

    CustomerDetail:
      type: object
      description: 客户详情（一次请求返回客户 + 订阅 / 用量 / 账单，同环境）
      properties:
        customer:
          $ref: '#/components/schemas/Customer'
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
        usage_events:
          type: array
          items:
            $ref: '#/components/schemas/UsageEventRecord'
        invoices:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'

    PortalTokenResult:
      type: object
      description: 客户门户邀请 Token（短时有效，签发后仅本响应可见）
      properties:
        token:
          type: string
        expires_at:
          type: string
          format: date-time
        portal_url:
          type: string
        customer_id:
          type: string
        environment:
          type: string
          enum: [test, live]

    PortalSession:
      type: object
      description: Portal token 校验结果
      properties:
        valid:
          type: boolean
        provider_id:
          type: string
          format: uuid
        environment_id:
          type: string
          format: uuid
        environment_kind:
          type: string
          enum: [test, live]
        customer_external_id:
          type: string
        expires_at:
          type: string
          format: date-time

    PortalDashboard:
      type: object
      description: 客户门户 Dashboard（仅当前客户数据 + workspace 品牌）
      properties:
        provider_name:
          type: string
        provider_slug:
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
        usage_events:
          type: array
          items:
            $ref: '#/components/schemas/UsageEventRecord'
        invoices:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'

    UsageEventRecord:
      type: object
      description: 用量事件（operator 视图，对应 lib/api/types.ts 的 UsageEvent；openapi 同名 UsageEvent 为 provider 域入参 schema）
      properties:
        id:
          type: string
          format: uuid
        transaction_id:
          type: string
        kind:
          type: string
          enum: [ingestion, reversal]
        metric_code:
          type: string
        customer_external_id:
          type: string
        environment_id:
          type: string
          format: uuid
        environment_kind:
          type: string
          enum: [test, live]
        event_timestamp:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    Capability:
      type: object
      properties:
        id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        capability:
          type: string
        status:
          type: string
        granted_at:
          type: string
          format: date-time
        revoked_at:
          type: string
          format: date-time
        granted_by:
          type: string
        reason:
          type: string

    WebhookEndpoint:
      type: object
      description: Webhook 端点（operator 视图；列表响应永不包含 secret）
      properties:
        id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        environment_id:
          type: string
          format: uuid
        environment_kind:
          type: string
          enum: [test, live]
        environment_issuer:
          type: string
        url:
          type: string
        secret:
          type: string
          description: 仅在创建响应中出现一次
        enabled:
          type: boolean
        events:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WebhookCreateInput:
      type: object
      description: Console 创建 Webhook 端点入参
      required: [url]
      properties:
        url:
          type: string
        events:
          type: array
          items:
            type: string
          description: 空数组订阅全部事件
        secret:
          type: string
          description: 可选；留空自动生成
        created_by:
          type: string
          description: 审计 actor 标识，默认 operator

    PlatformEvent:
      type: object
      description: Console 事件流视图（payload 为已解码 JSON）
      properties:
        id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        environment_id:
          type: string
          format: uuid
        environment_kind:
          type: string
          enum: [test, live]
        aggregate_type:
          type: string
        aggregate_id:
          type: string
        event_type:
          type: string
        payload:
          description: 原始 JSONB 载荷，解码后的任意 JSON
        payload_hash:
          type: string
        transaction_id:
          type: string
        status:
          type: string
          enum: [pending, failed, published, dead_letter]
        attempts:
          type: integer
        created_at:
          type: string
          format: date-time
        published_at:
          type: string
          format: date-time
        next_attempt_at:
          type: string
          format: date-time
        last_error:
          type: string

    PlatformEventStream:
      type: object
      description: 事件流分页响应（cursor 为上一页最后一个事件 id）
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/PlatformEvent'
        next_cursor:
          type: string
          format: uuid
          nullable: true
        has_more:
          type: boolean

    WebhookDelivery:
      type: object
      properties:
        id:
          type: string
          format: uuid
        endpoint_id:
          type: string
          format: uuid
        outbox_event_id:
          type: string
          format: uuid
        status:
          type: string
        attempts:
          type: integer
        response_status:
          type: integer
        response_body:
          type: string
        delivered_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    Workspace:
      type: object
      description: 工作区（平台控制面多租户单元）
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
        name:
          type: string
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WorkspaceMembership:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        user_sub:
          type: string
        role:
          type: string
          enum: [provider_admin, provider_developer, provider_billing]
        status:
          type: string
          enum: [active, suspended, removed]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    HostedAuthConfig:
      type: object
      description: OIDC 应用（Console 控制面视图；client_secret 永不随列表返回）
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        client_id:
          type: string
        enabled:
          type: boolean
        redirect_uris:
          type: array
          items:
            type: string
            format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    HostedAuthCreateResult:
      type: object
      description: 创建 / 轮换密钥后的应用响应（明文 client_secret 仅返回一次，R17）
      allOf:
        - $ref: '#/components/schemas/HostedAuthConfig'
        - type: object
          properties:
            client_secret:
              type: string
              description: 明文客户端密钥，仅在创建/轮换成功时返回一次
            issuer_url:
              type: string
              format: uri

    TrendPoint:
      type: object
      description: 趋势序列单日数据点；date 为 ISO-8601 日期（YYYY-MM-DD，UTC）
      properties:
        date:
          type: string
          format: date
        value:
          type: integer
          format: int64

    OverviewTrends:
      type: object
      description: 概览趋势序列（M2），两序列均为后端补零后的连续日轴
      properties:
        revenue:
          type: array
          description: 近 30 天 finalized 发票按出票日汇总金额（cents）
          items:
            $ref: '#/components/schemas/TrendPoint'
        usage_events:
          type: array
          description: 近 30 天 ingestion 事件按入库日计数
          items:
            $ref: '#/components/schemas/TrendPoint'

    OverviewStats:
      type: object
      description: 概览聚合统计（R29，跨所有 provider 单请求聚合）
      properties:
        published_versions:
          type: integer
        active_subscriptions:
          type: integer
        customers:
          type: integer
        revenue_cents:
          type: integer
          format: int64
        trends:
          $ref: '#/components/schemas/OverviewTrends'

    LifecycleTarget:
      type: string
      description: Provider 生命周期流转目标
      enum: [LIVE_REVIEW, LIVE_ACTIVE, RESTRICTED, SUSPENDED]

    CreateProviderInput:
      type: object
      required: [slug, name, home_region_code]
      properties:
        slug:
          type: string
          pattern: '^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$'
        name:
          type: string
        home_region_code:
          type: string
        description:
          type: string

    ActivateProviderInput:
      type: object
      required: [provider_id, home_region_code]
      properties:
        provider_id:
          type: string
          format: uuid
        home_region_code:
          type: string
        reason:
          type: string

    LifecycleInput:
      type: object
      required: [to]
      properties:
        to:
          $ref: '#/components/schemas/LifecycleTarget'
        reason:
          type: string

    SignupInput:
      type: object
      properties:
        email:
          type: string
        name:
          type: string

    CreateProviderResult:
      type: object
      properties:
        provider:
          $ref: '#/components/schemas/Provider'
          nullable: true
        testEnvironment:
          $ref: '#/components/schemas/Environment'
          nullable: true
        apiKey:
          type: string
          nullable: true

    LifecycleResult:
      type: object
      properties:
        provider:
          $ref: '#/components/schemas/Provider'
          nullable: true
        environment:
          $ref: '#/components/schemas/Environment'
          nullable: true
        apiKey:
          type: string
          nullable: true

    SignupResult:
      type: object
      properties:
        workspace:
          $ref: '#/components/schemas/Workspace'
          nullable: true
        membership:
          $ref: '#/components/schemas/WorkspaceMembership'
          nullable: true
        provider:
          $ref: '#/components/schemas/Provider'
          nullable: true

    AuditPageResult:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/AuditEvent'
        next_cursor:
          type: integer
          nullable: true

    CreatedCredential:
      type: object
      properties:
        credential:
          $ref: '#/components/schemas/Credential'
          nullable: true
        api_key:
          type: string

    PortalSessionInfo:
      type: object
      properties:
        valid:
          type: boolean
        provider_id:
          type: string
        environment_id:
          type: string
        environment_kind:
          type: string
        customer_external_id:
          type: string
        expires_at:
          type: string
          format: date-time
          nullable: true

    QuotaLimitUsage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        subscription_id:
          type: string
          format: uuid
        quota_key:
          type: string
        limit_value:
          type: integer
          format: int64
        period_type:
          type: string
          enum: [daily, monthly, total]
        committed:
          type: integer
          format: int64
        reserved:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    QueueOverview:
      type: object
      properties:
        outbox:
          type: object
          additionalProperties:
            type: integer
            format: int64
        webhook_deliveries:
          type: object
          additionalProperties:
            type: integer
            format: int64
        recent_outbox:
          type: array
          items:
            $ref: '#/components/schemas/PlatformEvent'

    AnalyticsRevenueSummary:
      type: object
      properties:
        provider_id:
          type: string
          format: uuid
        month:
          type: string
        invoice_count:
          type: integer
        subscription_count:
          type: integer
        total_revenue_cents:
          type: integer
        avg_invoice_line_cents:
          type: integer

    AnalyticsMAUSummary:
      type: object
      properties:
        provider_id:
          type: string
          format: uuid
        month:
          type: string
        active_customers:
          type: integer
        unique_metrics:
          type: integer
        total_usage_events:
          type: integer

    AnalyticsConversionSummary:
      type: object
      properties:
        provider_id:
          type: string
          format: uuid
        signup_month:
          type: string
        new_customers:
          type: integer
        customers_with_subscription:
          type: integer
        active_subscriptions:
          type: integer

    AnalyticsChurnSummary:
      type: object
      properties:
        provider_id:
          type: string
          format: uuid
        churn_month:
          type: string
        churned_subscriptions:
          type: integer
        retained_subscriptions:
          type: integer

    AnalyticsAnomaly:
      type: object
      properties:
        provider_id:
          type: string
          format: uuid
        metric_code:
          type: string
        day:
          type: string
        event_count:
          type: integer
        avg_7d:
          type: number
        is_anomaly:
          type: boolean

    AnalyticsDashboard:
      type: object
      properties:
        revenue:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsRevenueSummary'
        mau:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsMAUSummary'
        conversion:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsConversionSummary'
        churn:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsChurnSummary'
        anomalies:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsAnomaly'
        generated_at:
          type: string
          format: date-time

    ReconciliationResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
        check_name:
          type: string
        status:
          type: string
          enum: [ok, drift, error]
        expected_count:
          type: integer
          format: int64
        actual_count:
          type: integer
          format: int64
        drift_count:
          type: integer
          format: int64
        details:
          type: object
          additionalProperties: true
        checked_at:
          type: string
          format: date-time

  parameters:
    RequestId:
      name: X-Request-ID
      in: header
      schema:
        type: string
        format: uuid
    ProviderID:
      name: provider_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Env:
      name: env
      in: query
      required: true
      schema:
        type: string
        enum: [test, live]
      description: 目标环境（test/live），由 API 侧解析为该 provider 的环境 ID
    VersionID:
      name: version_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PlanCode:
      name: plan_code
      in: path
      required: true
      schema:
        type: string
      description: 套餐代码（不可变标识符）
    CustomerExternalID:
      name: customer_external_id
      in: path
      required: true
      schema:
        type: string
      description: 客户外部 ID（provider 环境内唯一）
    InvoiceID:
      name: invoice_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: 发票 ID

tags:
  - name: Providers
    description: Provider lifecycle management
  - name: Customers
    description: Customer account management
  - name: Subscriptions
    description: Subscription lifecycle
  - name: Usage
    description: Usage event ingestion
  - name: Invoices
    description: Invoice sync and management
  - name: Quota
    description: Hard quota ledger (reserve/commit/release)
  - name: Support
    description: JIT support access
  - name: Team
    description: Delegated administration
  - name: Events
    description: Enterprise event streams
  - name: Migration
    description: Standard migration tools
  - name: Custom Domains
    description: Custom auth domain management
  - name: SCIM
    description: SCIM 2.0 user provisioning
  - name: Analytics
    description: Independent analytic plane
  - name: Metered Billing
    description: Metered pricing and budget alerts
  - name: Cells
    description: Cell registry and failover
  - name: Data Export
    description: Data export and deletion proof
  - name: API Version
    description: API version info
  - name: Operator
    description: Operator 控制面（providers / catalog / regions / overview）
  - name: Workspaces
    description: 工作区（operator 会话域，RLS 保护）
  - name: Signup
    description: 注册供给（R11）

paths:
  /api-version:
    get:
      tags: [API Version]
      summary: Get API version info
      security: []
      responses:
        '200':
          description: API version information
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_version:
                    type: string
                  supported_versions:
                    type: array
                    items:
                      type: string
                  compatibility_policy:
                    type: string
                  webhook_schema_version:
                    type: string
                  deprecated_endpoints:
                    type: array
                    items:
                      type: object

  /customers:
    get:
      tags: [Customers]
      summary: List customers
      responses:
        '200':
          description: List of customers
    post:
      tags: [Customers]
      summary: Create a customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerAccount'
      responses:
        '201':
          description: Customer created

  /subscriptions:
    get:
      tags: [Contract]
      summary: Get /subscriptions
      responses:
        '200':
          description: OK
    post:
      tags: [Subscriptions]
      summary: Create a subscription
      responses:
        '201':
          description: Subscription created
        '409':
          description: Cutover locked or cell draining

  /usage/ingest:
    post:
      tags: [Usage]
      summary: Ingest a usage event
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageEvent'
      responses:
        '201':
          description: Usage event ingested
        '409':
          description: Cutover locked or cell draining

  /support-sessions:
    get:
      tags: [Contract]
      summary: Get /support-sessions
      responses:
        '200':
          description: OK
  /team-members:
    get:
      tags: [Team]
      summary: List team members
      responses:
        '200':
          description: List of team members
    post:
      tags: [Team]
      summary: Invite a team member
      responses:
        '201':
          description: Team member invited

  /events:
    get:
      tags: [Events]
      summary: Stream events (cursor-based pagination)
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: type
          in: query
          schema:
            type: string
        - name: aggregate_type
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Event stream page

  /migrations:
    get:
      tags: [Contract]
      summary: Get /migrations
      responses:
        '200':
          description: OK
    post:
      tags: [Migration]
      summary: Create a migration job
      responses:
        '201':
          description: Migration job created

  /custom-domains:
    get:
      tags: [Contract]
      summary: Get /custom-domains
      responses:
        '200':
          description: OK
    post:
      tags: [Custom Domains]
      summary: Register a custom domain
      responses:
        '201':
          description: Domain registered
        '409':
          description: Domain already taken

  /scim/v2/Users:
    get:
      tags: [SCIM]
      summary: List SCIM users
      responses:
        '200':
          description: SCIM list response
    post:
      tags: [SCIM]
      summary: Create a SCIM user
      responses:
        '201':
          description: SCIM user created

  /analytics/dashboard:
    get:
      tags: [Analytics]
      summary: Get provider analytics dashboard
      responses:
        '200':
          description: Combined analytics dashboard

  /metered-pricing-rules:
    get:
      tags: [Contract]
      summary: Get /metered-pricing-rules
      responses:
        '200':
          description: OK
    put:
      tags: [Metered Billing]
      summary: Set a metered pricing rule
      responses:
        '200':
          description: Pricing rule set

  /budget-alerts:
    get:
      tags: [Contract]
      summary: Get /budget-alerts
      responses:
        '200':
          description: OK
    post:
      tags: [Metered Billing]
      summary: Create a budget alert
      responses:
        '201':
          description: Budget alert created

  /data-exports:
    get:
      tags: [Contract]
      summary: Get /data-exports
      responses:
        '200':
          description: OK
    post:
      tags: [Data Export]
      summary: Request a data export
      responses:
        '201':
          description: Data export completed

  /data-deletion:
    post:
      tags: [Data Export]
      summary: Request data deletion with proof
      responses:
        '200':
          description: Deletion proof generated

  # ---- operator 控制面（OIDC JWT，/v1/operator/*）----
  /operator/providers:
    get:
      tags: [Operator]
      summary: List providers
      responses:
        '200':
          description: Provider list
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
    post:
      tags: [Operator]
      summary: Create a provider (REGISTERED)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderInput'
      responses:
        '201':
          description: Provider created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProviderResult'
        '409':
          description: Slug already taken

  /operator/providers/{provider_id}:
    get:
      tags: [Operator]
      summary: Get provider detail
      parameters:
        - $ref: '#/components/parameters/ProviderID'
      responses:
        '200':
          description: Provider detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'

  /operator/providers/{provider_id}/activate:
    post:
      tags: [Operator]
      summary: Activate a provider (assigns home region, creates environments)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateProviderInput'
      responses:
        '200':
          description: Provider activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProviderResult'
        '409':
          description: Invalid lifecycle transition

  /operator/providers/{provider_id}/lifecycle:
    post:
      tags: [Operator]
      summary: Transition provider lifecycle state
      parameters:
        - $ref: '#/components/parameters/ProviderID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LifecycleInput'
      responses:
        '200':
          description: Lifecycle transitioned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifecycleResult'
        '409':
          description: Invalid transition

  /operator/providers/{provider_id}/catalog/versions:
    get:
      tags: [Operator]
      summary: List catalog versions
      parameters:
        - $ref: '#/components/parameters/ProviderID'
      responses:
        '200':
          description: Catalog version list
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogVersion'

  /operator/providers/{provider_id}/catalog/versions/{version_id}:
    get:
      tags: [Operator]
      summary: Get catalog version detail
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/VersionID'
      responses:
        '200':
          description: Catalog version detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogVersionDetail'

  /operator/providers/{provider_id}/subscriptions:
    get:
      tags: [Operator]
      summary: List subscriptions
      parameters:
        - $ref: '#/components/parameters/ProviderID'
      responses:
        '200':
          description: Subscription list
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subscription'

  /operator/providers/{provider_id}/customers:
    get:
      tags: [Operator]
      summary: List customers (cross-environment, or a single environment with ?env=)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - name: env
          in: query
          required: false
          schema:
            type: string
            enum: [test, live]
          description: 传入时只返回该环境的客户；缺省返回跨环境 operator 视图
      responses:
        '200':
          description: Customer list
          content:
            application/json:
              schema:
                type: object
                properties:
                  customers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
    post:
      tags: [Operator]
      summary: Create a customer in the given environment
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateInput'
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer:
                    $ref: '#/components/schemas/Customer'
        '400':
          description: Invalid input
        '404':
          description: Unknown provider or environment
        '409':
          description: Customer external_id already exists in this environment

  /operator/providers/{provider_id}/customers/{customer_external_id}:
    get:
      tags: [Operator]
      summary: Get customer detail with subscriptions, usage events and invoices
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - $ref: '#/components/parameters/CustomerExternalID'
      responses:
        '200':
          description: Customer detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDetail'
        '404':
          description: Unknown customer, provider, or environment

  /operator/providers/{provider_id}/customers/{customer_external_id}/portal-token:
    post:
      tags: [Operator]
      summary: Issue a customer portal token (Portal M3)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - $ref: '#/components/parameters/CustomerExternalID'
      responses:
        '201':
          description: Portal token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalTokenResult'
        '404':
          description: Unknown customer, provider, or environment

  /portal/sessions:
    post:
      tags: [Portal]
      summary: Validate a portal invite token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Portal session validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalSession'
        '401':
          description: Invalid or expired token

  /portal/dashboard:
    get:
      tags: [Portal]
      summary: Get the customer's own billing dashboard
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Customer dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalDashboard'
        '401':
          description: Missing or invalid portal token

  /operator/providers/{provider_id}/usage-events:
    get:
      tags: [Operator]
      summary: List usage events
      parameters:
        - $ref: '#/components/parameters/ProviderID'
      responses:
        '200':
          description: Usage event list
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/UsageEventRecord'

  /operator/providers/{provider_id}/audit:
    get:
      tags: [Operator]
      summary: List audit events with keyset pagination and filters
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - name: cursor
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: action
          in: query
          required: false
          schema:
            type: string
        - name: actor_type
          in: query
          required: false
          schema:
            type: string
        - name: actor_id
          in: query
          required: false
          schema:
            type: string
        - name: target_type
          in: query
          required: false
          schema:
            type: string
        - name: target_id
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Audit page
          content:
            application/json:
              schema:
                type: object
                properties:
                  audit_events:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditEvent'
                  next_cursor:
                    type: integer
                    format: int64
                    nullable: true

  /operator/providers/{provider_id}/audit/stats:
    get:
      tags: [Operator]
      summary: Audit dashboard aggregates (bounded window required)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: granularity
          in: query
          required: false
          schema:
            type: string
            enum: [hour, day, week]
      responses:
        '200':
          description: Audit stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditStats'

  /operator/audit/chain:
    get:
      tags: [Operator]
      summary: Audit hash chain state
      responses:
        '200':
          description: Chain state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditChainState'

  /operator/audit/chain/verify:
    get:
      tags: [Operator]
      summary: Verify the audit hash chain
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: to
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditChainVerifyResult'

  /operator/providers/{provider_id}/credentials:
    get:
      tags: [Operator]
      summary: List API credentials (cross-environment, or a single environment with ?env=)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - name: env
          in: query
          required: false
          schema:
            type: string
            enum: [test, live]
          description: 传入时只返回该环境的密钥；缺省返回跨环境 operator 视图
      responses:
        '200':
          description: Credential list
          content:
            application/json:
              schema:
                type: object
                properties:
                  credentials:
                    type: array
                    items:
                      $ref: '#/components/schemas/Credential'
    post:
      tags: [Operator]
      summary: Create an API key in the given environment (Console M3)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialCreateInput'
      responses:
        '201':
          description: API key created (plaintext returned exactly once)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedCredentialResult'
        '400':
          description: Invalid input
        '404':
          description: Unknown provider or environment

  /operator/providers/{provider_id}/credentials/{credential_id}/rotate:
    post:
      tags: [Operator]
      summary: Atomically rotate an API key (revoke old + issue replacement)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - name: credential_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                created_by:
                  type: string
                  description: 审计 actor 标识，默认 operator
      responses:
        '200':
          description: Rotated (new plaintext returned exactly once)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedCredentialResult'
        '404':
          description: Unknown provider, environment, or credential
        '409':
          description: Credential already revoked

  /operator/providers/{provider_id}/credentials/{credential_id}/revoke:
    post:
      tags: [Operator]
      summary: Revoke a credential
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - name: credential_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Credential revoked

  /operator/providers/{provider_id}/invoices:
    get:
      tags: [Operator]
      summary: List invoices (cross-environment, or a single environment with ?env=)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - name: env
          in: query
          required: false
          schema:
            type: string
            enum: [test, live]
          description: 传入时只返回该环境的账单；缺省返回跨环境 operator 视图
      responses:
        '200':
          description: Invoice list
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'

  /operator/providers/{provider_id}/invoices/{invoice_id}:
    get:
      tags: [Operator]
      summary: Get invoice detail with line items
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - $ref: '#/components/parameters/InvoiceID'
      responses:
        '200':
          description: Invoice detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetail'
        '400':
          description: Invalid provider id, env, or invoice id
        '404':
          description: Unknown invoice, provider, or environment

  /operator/providers/{provider_id}/capabilities:
    get:
      tags: [Operator]
      summary: List provider capabilities
      parameters:
        - $ref: '#/components/parameters/ProviderID'
      responses:
        '200':
          description: Capability list
          content:
            application/json:
              schema:
                type: object
                properties:
                  capabilities:
                    type: array
                    items:
                      $ref: '#/components/schemas/Capability'

  /operator/providers/{provider_id}/webhooks:
    get:
      tags: [Operator]
      summary: List webhook endpoints (cross-environment, or a single environment with ?env=)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - name: env
          in: query
          required: false
          schema:
            type: string
            enum: [test, live]
          description: 传入时只返回该环境的端点；缺省返回跨环境 operator 视图
      responses:
        '200':
          description: Webhook endpoint list
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoints:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookEndpoint'
    post:
      tags: [Operator]
      summary: Create a webhook endpoint (Console M3)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateInput'
      responses:
        '201':
          description: Webhook endpoint created (signing secret returned once)
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint:
                    $ref: '#/components/schemas/WebhookEndpoint'
        '400':
          description: Invalid input or URL
        '404':
          description: Unknown provider or environment

  /operator/providers/{provider_id}/webhooks/{webhook_id}:
    delete:
      tags: [Operator]
      summary: Delete a webhook endpoint (Console M3)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Webhook endpoint deleted
        '404':
          description: Unknown provider, environment, or endpoint

  /operator/providers/{provider_id}/events:
    get:
      tags: [Operator]
      summary: Stream platform events for one environment (Console M3)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: 上一页 next_cursor；省略从头开始
        - name: type
          in: query
          required: false
          schema:
            type: string
          description: 按 event_type 过滤
        - name: aggregate_type
          in: query
          required: false
          schema:
            type: string
          description: 按 aggregate_type 过滤
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: 每页数量，默认 100
      responses:
        '200':
          description: Event stream page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformEventStream'
        '400':
          description: Invalid env or cursor
        '404':
          description: Unknown provider or environment

  /operator/providers/{provider_id}/custom-domains:
    get:
      tags: [Operator]
      summary: List custom domains for one environment (Console Settings)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      responses:
        '200':
          description: Custom domain list
          content:
            application/json:
              schema:
                type: object
                properties:
                  custom_domains:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomDomain'
    post:
      tags: [Operator]
      summary: Register a custom domain for DNS verification
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain:
                  type: string
      responses:
        '201':
          description: Domain registered with verification token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
        '409':
          description: Domain already registered

  /operator/providers/{provider_id}/custom-domains/{domain_id}:
    delete:
      tags: [Operator]
      summary: Delete a pending/revoked custom domain
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Domain deleted
        '409':
          description: Verified domain must be revoked first

  /operator/providers/{provider_id}/custom-domains/{domain_id}/verify:
    post:
      tags: [Operator]
      summary: Verify DNS ownership of a custom domain
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Domain verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
        '400':
          description: DNS TXT record missing or mismatched

  /operator/providers/{provider_id}/custom-domains/{domain_id}/revoke:
    post:
      tags: [Operator]
      summary: Revoke a custom domain
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - name: domain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Domain revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'

  /operator/providers/{provider_id}/notification-configs:
    get:
      tags: [Operator]
      summary: List notification configs for one environment (Console Settings)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      responses:
        '200':
          description: Notification config list
          content:
            application/json:
              schema:
                type: object
                properties:
                  notification_configs:
                    type: array
                    items:
                      $ref: '#/components/schemas/NotificationConfig'
    put:
      tags: [Operator]
      summary: Save a notification channel config (email/sms)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationConfigInput'
      responses:
        '200':
          description: Notification config saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationConfig'

  /operator/providers/{provider_id}/notification-configs/{channel}:
    delete:
      tags: [Operator]
      summary: Delete a notification channel config
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - name: channel
          in: path
          required: true
          schema:
            type: string
            enum: [email, sms]
      responses:
        '204':
          description: Notification config deleted

  /operator/providers/{provider_id}/webhook-deliveries:
    get:
      tags: [Operator]
      summary: List webhook deliveries
      parameters:
        - $ref: '#/components/parameters/ProviderID'
      responses:
        '200':
          description: Webhook delivery list
          content:
            application/json:
              schema:
                type: object
                properties:
                  deliveries:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookDelivery'

  /operator/regions:
    get:
      tags: [Operator]
      summary: List regions
      responses:
        '200':
          description: Region list
          content:
            application/json:
              schema:
                type: object
                properties:
                  regions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Region'

  /operator/overview-stats:
    get:
      tags: [Operator]
      summary: Get overview aggregate stats (R29)
      responses:
        '200':
          description: Overview stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewStats'

  # ---- OIDC Application 管理（Console 控制面，§8 M2 Applications）----
  /operator/providers/{provider_id}/auth/zitadel/apps:
    get:
      tags: [Operator]
      summary: List OIDC applications for a provider environment
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      responses:
        '200':
          description: Application list
          content:
            application/json:
              schema:
                type: object
                properties:
                  apps:
                    type: array
                    items:
                      $ref: '#/components/schemas/HostedAuthConfig'
        '400':
          description: Invalid provider id or env
        '404':
          description: Unknown provider or environment

  /operator/providers/{provider_id}/auth/zitadel/setup:
    post:
      tags: [Operator]
      summary: Create an OIDC application (ZITADEL project + app)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [name, redirect_uris]
              properties:
                name:
                  type: string
                redirect_uris:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uri
      responses:
        '201':
          description: Application created
          content:
            application/json:
              schema:
                type: object
                properties:
                  app:
                    $ref: '#/components/schemas/HostedAuthCreateResult'
        '400':
          description: Invalid input

  /operator/providers/{provider_id}/auth/zitadel/rotate-secret:
    post:
      tags: [Operator]
      summary: Rotate the OIDC client secret (plaintext returned once)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      responses:
        '200':
          description: Secret rotated
          content:
            application/json:
              schema:
                type: object
                properties:
                  app:
                    $ref: '#/components/schemas/HostedAuthCreateResult'
        '404':
          description: No application configured

  /operator/providers/{provider_id}/auth/zitadel/redirect-uris:
    put:
      tags: [Operator]
      summary: Update OIDC redirect URIs without rotating the secret
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [redirect_uris]
              properties:
                redirect_uris:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uri
      responses:
        '200':
          description: Redirect URIs updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  app:
                    $ref: '#/components/schemas/HostedAuthConfig'

  /operator/providers/{provider_id}/auth/zitadel:
    delete:
      tags: [Operator]
      summary: Delete the OIDC application (ZITADEL project included)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      responses:
        '204':
          description: Application deleted
        '404':
          description: No application configured

  # ---- Plans 控制面（Console，§8 M2）----
  /operator/providers/{provider_id}/catalog/plans:
    get:
      tags: [Operator]
      summary: List plans with full pricing detail and available metrics
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      responses:
        '200':
          description: Plan collection (plans + metrics)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanCollection'
        '400':
          description: Invalid provider id or env
        '404':
          description: Unknown provider or environment
    post:
      tags: [Operator]
      summary: Create a plan in the current draft catalog version
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanInput'
      responses:
        '201':
          description: Plan created
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan:
                    $ref: '#/components/schemas/PlanDetail'
        '400':
          description: Invalid plan structure
        '404':
          description: Unknown provider or environment
        '409':
          description: Plan code already exists

  /operator/providers/{provider_id}/catalog/plans/{plan_code}:
    get:
      tags: [Operator]
      summary: Get one plan with resolved pricing detail
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - $ref: '#/components/parameters/PlanCode'
      responses:
        '200':
          description: Plan detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan:
                    $ref: '#/components/schemas/PlanDetail'
        '404':
          description: Unknown plan, provider, or environment
    put:
      tags: [Operator]
      summary: Update a plan (staged into a new draft when published content is immutable)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - $ref: '#/components/parameters/PlanCode'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanInput'
      responses:
        '200':
          description: Plan updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan:
                    $ref: '#/components/schemas/PlanDetail'
        '400':
          description: Invalid plan structure or immutable code mismatch
        '404':
          description: Unknown plan, provider, or environment
    delete:
      tags: [Operator]
      summary: Delete a plan from the current draft catalog version
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - $ref: '#/components/parameters/PlanCode'
      responses:
        '204':
          description: Plan deleted
        '404':
          description: Unknown plan, provider, or environment

  /operator/providers/{provider_id}/catalog/plans/{plan_code}/entitlements:
    get:
      tags: [Operator]
      summary: List plan-level entitlement grants (Console Policies page)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - $ref: '#/components/parameters/PlanCode'
      responses:
        '200':
          description: Entitlement grants for the current draft plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  entitlements:
                    type: array
                    items:
                      $ref: '#/components/schemas/EntitlementGrant'
        '404':
          description: Unknown provider, environment, or plan

  /operator/providers/{provider_id}/catalog/plans/{plan_code}/entitlements/{key}:
    put:
      tags: [Operator]
      summary: Upsert one plan-level entitlement grant
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - $ref: '#/components/parameters/PlanCode'
        - name: key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitlementInput'
      responses:
        '200':
          description: Grant upserted
          content:
            application/json:
              schema:
                type: object
                properties:
                  entitlement:
                    $ref: '#/components/schemas/EntitlementGrant'
        '400':
          description: Invalid grant or immutable key mismatch
        '404':
          description: Unknown provider, environment, or plan
    delete:
      tags: [Operator]
      summary: Delete one plan-level entitlement grant
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
        - $ref: '#/components/parameters/PlanCode'
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Grant deleted
        '404':
          description: Unknown provider, environment, plan, or grant

  /operator/providers/{provider_id}/analytics/dashboard:
    get:
      tags: [Operator]
      summary: Console Analytics dashboard (revenue / MAU / conversion / churn / anomalies)
      parameters:
        - $ref: '#/components/parameters/ProviderID'
        - $ref: '#/components/parameters/Env'
      responses:
        '200':
          description: Combined analytics dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAnalyticsDashboard'
        '404':
          description: Unknown provider or environment

  # ---- 工作区（operator 会话域，RLS 仅 operator 事务可见）----
  /me/workspaces:
    get:
      tags: [Workspaces]
      summary: List my workspaces
      responses:
        '200':
          description: Workspace list
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspaces:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'

  # ---- 注册供给（R11）----
  /signup:
    post:
      tags: [Signup]
      summary: Provision a default workspace for the platform user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupInput'
      responses:
        '200':
          description: Workspace provisioned (idempotent for returning users)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupResult'

  /analytics/anomalies:
    get:
      tags: [Contract]
      summary: Get /analytics/anomalies
      responses:
        '200':
          description: OK
  /analytics/churn:
    get:
      tags: [Contract]
      summary: Get /analytics/churn
      responses:
        '200':
          description: OK
  /analytics/conversion:
    get:
      tags: [Contract]
      summary: Get /analytics/conversion
      responses:
        '200':
          description: OK
  /analytics/mau:
    get:
      tags: [Contract]
      summary: Get /analytics/mau
      responses:
        '200':
          description: OK
  /analytics/revenue:
    get:
      tags: [Contract]
      summary: Get /analytics/revenue
      responses:
        '200':
          description: OK
  /analytics/usage-breakdown:
    get:
      tags: [Contract]
      summary: Get /analytics/usage-breakdown
      responses:
        '200':
          description: OK
  /audit-events:
    get:
      tags: [Contract]
      summary: Get /audit-events
      responses:
        '200':
          description: OK
  /audit-events/export:
    get:
      tags: [Contract]
      summary: Get /audit-events/export
      responses:
        '200':
          description: OK
  /audit-events/stats:
    get:
      tags: [Contract]
      summary: Get /audit-events/stats
      responses:
        '200':
          description: OK
  /auth/zitadel:
    delete:
      tags: [Contract]
      summary: Delete /auth/zitadel
      responses:
        '200':
          description: OK
  /auth/zitadel/apps:
    get:
      tags: [Contract]
      summary: Get /auth/zitadel/apps
      responses:
        '200':
          description: OK
  /auth/zitadel/config:
    get:
      tags: [Contract]
      summary: Get /auth/zitadel/config
      responses:
        '200':
          description: OK
  /auth/zitadel/redirect-uris:
    put:
      tags: [Contract]
      summary: Put /auth/zitadel/redirect-uris
      responses:
        '200':
          description: OK
  /auth/zitadel/rotate-secret:
    post:
      tags: [Contract]
      summary: Post /auth/zitadel/rotate-secret
      responses:
        '200':
          description: OK
  /auth/zitadel/setup:
    post:
      tags: [Contract]
      summary: Post /auth/zitadel/setup
      responses:
        '200':
          description: OK
  /budget-alerts/{id}:
    delete:
      tags: [Contract]
      summary: Delete /budget-alerts/{id}
      responses:
        '200':
          description: OK
    get:
      tags: [Contract]
      summary: Get /budget-alerts/{id}
      responses:
        '200':
          description: OK
  /capabilities:
    get:
      tags: [Contract]
      summary: Get /capabilities
      responses:
        '200':
          description: OK
  /catalog/plans:
    get:
      tags: [Contract]
      summary: Get /catalog/plans
      responses:
        '200':
          description: OK
    post:
      tags: [Contract]
      summary: Post /catalog/plans
      responses:
        '200':
          description: OK
  /catalog/plans/{code}:
    delete:
      tags: [Contract]
      summary: Delete /catalog/plans/{code}
      responses:
        '200':
          description: OK
    put:
      tags: [Contract]
      summary: Put /catalog/plans/{code}
      responses:
        '200':
          description: OK
  /catalog/plans/{code}/entitlements:
    get:
      tags: [Contract]
      summary: Get /catalog/plans/{code}/entitlements
      responses:
        '200':
          description: OK
  /catalog/plans/{code}/entitlements/{key}:
    delete:
      tags: [Contract]
      summary: Delete /catalog/plans/{code}/entitlements/{key}
      responses:
        '200':
          description: OK
    put:
      tags: [Contract]
      summary: Put /catalog/plans/{code}/entitlements/{key}
      responses:
        '200':
          description: OK
  /catalog/versions:
    get:
      tags: [Contract]
      summary: Get /catalog/versions
      responses:
        '200':
          description: OK
    post:
      tags: [Contract]
      summary: Post /catalog/versions
      responses:
        '200':
          description: OK
  /catalog/versions/{versionId}:
    get:
      tags: [Contract]
      summary: Get /catalog/versions/{versionId}
      responses:
        '200':
          description: OK
  /catalog/versions/{versionId}/content:
    put:
      tags: [Contract]
      summary: Put /catalog/versions/{versionId}/content
      responses:
        '200':
          description: OK
  /catalog/versions/{versionId}/publish:
    post:
      tags: [Contract]
      summary: Post /catalog/versions/{versionId}/publish
      responses:
        '200':
          description: OK
  /catalog/versions/{versionId}/retire:
    post:
      tags: [Contract]
      summary: Post /catalog/versions/{versionId}/retire
      responses:
        '200':
          description: OK
  /catalog/versions/{versionId}/validate:
    post:
      tags: [Contract]
      summary: Post /catalog/versions/{versionId}/validate
      responses:
        '200':
          description: OK
  /cell:
    get:
      tags: [Contract]
      summary: Get /cell
      responses:
        '200':
          description: OK
  /credentials:
    get:
      tags: [Contract]
      summary: Get /credentials
      responses:
        '200':
          description: OK
    post:
      tags: [Contract]
      summary: Post /credentials
      responses:
        '200':
          description: OK
  /credentials/{id}/revoke:
    post:
      tags: [Contract]
      summary: Post /credentials/{id}/revoke
      responses:
        '200':
          description: OK
  /custom-domains/{id}:
    delete:
      tags: [Contract]
      summary: Delete /custom-domains/{id}
      responses:
        '200':
          description: OK
    get:
      tags: [Contract]
      summary: Get /custom-domains/{id}
      responses:
        '200':
          description: OK
  /custom-domains/{id}/revoke:
    post:
      tags: [Contract]
      summary: Post /custom-domains/{id}/revoke
      responses:
        '200':
          description: OK
  /custom-domains/{id}/verify:
    post:
      tags: [Contract]
      summary: Post /custom-domains/{id}/verify
      responses:
        '200':
          description: OK
  /data-exports/{id}:
    get:
      tags: [Contract]
      summary: Get /data-exports/{id}
      responses:
        '200':
          description: OK
  /deletion-proofs:
    get:
      tags: [Contract]
      summary: Get /deletion-proofs
      responses:
        '200':
          description: OK
  /deletion-proofs/{id}:
    get:
      tags: [Contract]
      summary: Get /deletion-proofs/{id}
      responses:
        '200':
          description: OK
  /entitlements/{customerExternalId}:
    get:
      tags: [Contract]
      summary: Get /entitlements/{customerExternalId}
      responses:
        '200':
          description: OK
  /invoices:
    get:
      tags: [Contract]
      summary: Get /invoices
      responses:
        '200':
          description: OK
  /invoices/sync:
    post:
      tags: [Contract]
      summary: Post /invoices/sync
      responses:
        '200':
          description: OK
  /invoices/{id}:
    get:
      tags: [Contract]
      summary: Get /invoices/{id}
      responses:
        '200':
          description: OK
  /me/workspaces/{id}:
    get:
      tags: [Contract]
      summary: Get /me/workspaces/{id}
      responses:
        '200':
          description: OK
    patch:
      tags: [Contract]
      summary: Patch /me/workspaces/{id}
      responses:
        '200':
          description: OK
  /me/workspaces/{id}/members:
    get:
      tags: [Contract]
      summary: Get /me/workspaces/{id}/members
      responses:
        '200':
          description: OK
    post:
      tags: [Contract]
      summary: Post /me/workspaces/{id}/members
      responses:
        '200':
          description: OK
  /me/workspaces/{id}/members/{userSub}:
    delete:
      tags: [Contract]
      summary: Delete /me/workspaces/{id}/members/{userSub}
      responses:
        '200':
          description: OK
    patch:
      tags: [Contract]
      summary: Patch /me/workspaces/{id}/members/{userSub}
      responses:
        '200':
          description: OK
  /metered-pricing-rules/{metric}:
    delete:
      tags: [Contract]
      summary: Delete /metered-pricing-rules/{metric}
      responses:
        '200':
          description: OK
    get:
[...]
